.contact-form8-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form8-max-width {
  align-items: flex-start;
}
 
.contact-form8-section-title {
  gap: var(--dl-layout-space-unit);
  width: 40%;
  align-items: flex-start;
}
 
.contact-form8-logo {
  height: 3rem;
  object-fit: cover;
}
 
.contact-form8-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form8-content2 {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form8-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form8-row3 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form8-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 60%;
}
 
.contact-form8-container1 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form8-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form8-input3 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-input4 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-input5 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-input6 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form8-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
 
.contact-form8-button {
  align-self: flex-start;
}
 
.contact-form8-fragment1 {
  display: contents;
}
 
.contact-form8-text20 {
  display: inline-block;
}
 
.contact-form8-fragment2 {
  display: contents;
}
 
.contact-form8-text21 {
  display: inline-block;
}
 
.contact-form8-fragment3 {
  display: contents;
}
 
.contact-form8-text22 {
  display: inline-block;
}
 
.contact-form8-fragment4 {
  display: contents;
}
 
.contact-form8-text23 {
  display: inline-block;
}
 
.contact-form8-fragment5 {
  display: contents;
}
 
.contact-form8-text24 {
  display: inline-block;
}
 
.contact-form8-fragment6 {
  display: contents;
}
 
.contact-form8-text25 {
  display: inline-block;
}
 
.contact-form8-fragment7 {
  display: contents;
}
 
.contact-form8-text26 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form8-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form8-section-title {
    width: 100%;
  }
  .contact-form8-form {
    width: 100%;
  }
  .contact-form8-container1 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form8-input1 {
    width: 50%;
  }
  .contact-form8-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form8-container2 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form8-input3 {
    width: 50%;
  }
  .contact-form8-input4 {
    width: 50%;
  }
  .contact-form8-container3 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form8-input5 {
    gap: var(--dl-layout-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .contact-form8-container4 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form8-checkbox1 {
    align-self: flex-start;
  }
}
 
@media(max-width: 479px) {
  .contact-form8-text12 {
    text-align: center;
  }
  .contact-form8-form {
    padding: var(--dl-layout-space-unit);
  }
  .contact-form8-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form8-input1 {
    width: 100%;
  }
  .contact-form8-input2 {
    width: 100%;
  }
  .contact-form8-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form8-input3 {
    width: 100%;
  }
  .contact-form8-input4 {
    width: 100%;
  }
}
