.contact32-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact32-max-width {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact32-section-title {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact32-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact32-text12 {
  text-align: center;
}
 
.contact32-row {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact32-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact32-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact32-content3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact32-text13 {
  align-self: stretch;
  text-align: center;
}
 
.contact32-text14 {
  text-align: center;
}
 
.contact32-email {
  text-align: center;
}
 
.contact32-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact32-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact32-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact32-text15 {
  align-self: stretch;
  text-align: center;
}
 
.contact32-text16 {
  text-align: center;
}
 
.contact32-phone {
  text-align: center;
}
 
.contact32-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact32-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact32-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact32-text17 {
  align-self: stretch;
  text-align: center;
}
 
.contact32-text18 {
  text-align: center;
}
 
.contact32-address {
  text-align: center;
}
 
.contact32-fragment1 {
  display: contents;
}
 
.contact32-text19 {
  display: inline-block;
}
 
.contact32-fragment2 {
  display: contents;
}
 
.contact32-text20 {
  display: inline-block;
}
 
.contact32-fragment3 {
  display: contents;
}
 
.contact32-text21 {
  display: inline-block;
}
 
.contact32-fragment4 {
  display: contents;
}
 
.contact32-text22 {
  display: inline-block;
}
 
.contact32-fragment5 {
  display: contents;
}
 
.contact32-text23 {
  display: inline-block;
}
 
.contact32-fragment6 {
  display: contents;
}
 
.contact32-text24 {
  display: inline-block;
}
 
.contact32-fragment7 {
  display: contents;
}
 
.contact32-text25 {
  display: inline-block;
}
 
.contact32-fragment8 {
  display: contents;
}
 
.contact32-text26 {
  display: inline-block;
}
 
.contact32-fragment9 {
  display: contents;
}
 
.contact32-text27 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact32-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact32-row {
    align-items: stretch;
  }
}
