.contact-form51-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form51-section-title {
  align-items: center;
}
 
.contact-form51-content {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form51-form {
  width: 100%;
}
 
.contact-form51-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form51-input1 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-input2 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form51-input3 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-input4 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-input5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form51-checkbox1 {
  display: flex;
  align-self: flex-start;
  align-items: center;
}
 
.contact-form51-button {
  align-self: flex-start;
}
 
.contact-form51-fragment1 {
  display: contents;
}
 
.contact-form51-text20 {
  display: inline-block;
}
 
.contact-form51-fragment2 {
  display: contents;
}
 
.contact-form51-text21 {
  display: inline-block;
}
 
.contact-form51-fragment3 {
  display: contents;
}
 
.contact-form51-text22 {
  display: inline-block;
}
 
.contact-form51-fragment4 {
  display: contents;
}
 
.contact-form51-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form51-container1 {
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input1 {
    width: 50%;
  }
  .contact-form51-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form51-container2 {
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input3 {
    width: 50%;
  }
  .contact-form51-input4 {
    width: 50%;
  }
  .contact-form51-container3 {
    width: 100%;
    flex-direction: row;
  }
  .contact-form51-input5 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form51-container4 {
    width: 100%;
  }
  .contact-form51-checkbox1 {
    align-self: flex-start;
  }
}
 
@media(max-width: 767px) {
  .contact-form51-textarea {
    flex: 1;
  }
}
 
@media(max-width: 479px) {
  .contact-form51-text12 {
    text-align: center;
  }
  .contact-form51-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form51-input1 {
    width: 100%;
  }
  .contact-form51-input2 {
    width: 100%;
  }
  .contact-form51-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form51-input3 {
    width: 100%;
  }
  .contact-form51-input4 {
    width: 100%;
  }
}
