.features14-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features14-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features14-column {
  gap: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features14-content1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features14-row {
  align-items: flex-start;
}
 
.features14-feature1 {
  flex: 1;
}
 
.features14-content2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features14-feature2 {
  flex: 1;
}
 
.features14-content3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features14-feature3 {
  flex: 1;
}
 
.features14-content4 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features14-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.features14-fragment10 {
  display: contents;
}
 
.features14-text13 {
  display: inline-block;
}
 
.features14-fragment11 {
  display: contents;
}
 
.features14-text14 {
  display: inline-block;
}
 
.features14-fragment12 {
  display: contents;
}
 
.features14-text15 {
  display: inline-block;
}
 
.features14-fragment13 {
  display: contents;
}
 
.features14-text16 {
  display: inline-block;
}
 
.features14-fragment14 {
  display: contents;
}
 
.features14-text17 {
  display: inline-block;
}
 
.features14-fragment15 {
  display: contents;
}
 
.features14-text18 {
  display: inline-block;
}
 
.features14-fragment16 {
  display: contents;
}
 
.features14-text19 {
  display: inline-block;
}
 
.features14-fragment17 {
  display: contents;
}
 
.features14-text20 {
  display: inline-block;
}
 
.features14-fragment18 {
  display: contents;
}
 
.features14-text21 {
  display: inline-block;
}
 
.features14-fragment19 {
  display: contents;
}
 
.features14-text22 {
  display: inline-block;
}
 
.features14-fragment20 {
  display: contents;
}
 
.features14-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features14-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features14-feature1-image {
    height: 260px;
  }
  .features14-feature2-image {
    height: 260px;
  }
  .features14-feature3-image {
    height: 260px;
  }
}
 
@media(max-width: 767px) {
  .features14-column {
    width: 100%;
  }
  .features14-text11 {
    text-align: center;
  }
  .features14-row {
    flex-direction: column;
  }
  .features14-feature1-image {
    width: 100%;
  }
  .features14-feature2 {
    width: auto;
  }
  .features14-feature2-image {
    width: 100%;
  }
  .features14-feature3 {
    width: auto;
  }
  .features14-actions {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .features14-actions {
    width: 100%;
    flex-direction: column;
  }
  .features14-button1 {
    width: 100%;
  }
  .features14-button2 {
    width: 100%;
  }
}
