.features183-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features183-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features183-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features183-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features183-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features183-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features183-fragment1 {
  display: contents;
}
 
.features183-text4 {
  display: inline-block;
}
 
.features183-fragment2 {
  display: contents;
}
 
.features183-text5 {
  display: inline-block;
}
 
.features183-fragment3 {
  display: contents;
}
 
.features183-text6 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features183-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column-reverse;
  }
}
