.features13-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features13-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features13-column {
  gap: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features13-content1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features13-row {
  align-items: flex-start;
}
 
.features13-feature1 {
  flex: 1;
}
 
.features13-content2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features13-feature2 {
  flex: 1;
}
 
.features13-content3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features13-feature3 {
  flex: 1;
}
 
.features13-content4 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features13-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.features13-fragment10 {
  display: contents;
}
 
.features13-text13 {
  display: inline-block;
}
 
.features13-fragment11 {
  display: contents;
}
 
.features13-text14 {
  display: inline-block;
}
 
.features13-fragment12 {
  display: contents;
}
 
.features13-text15 {
  display: inline-block;
}
 
.features13-fragment13 {
  display: contents;
}
 
.features13-text16 {
  display: inline-block;
}
 
.features13-fragment14 {
  display: contents;
}
 
.features13-text17 {
  display: inline-block;
}
 
.features13-fragment15 {
  display: contents;
}
 
.features13-text18 {
  display: inline-block;
}
 
.features13-fragment16 {
  display: contents;
}
 
.features13-text19 {
  display: inline-block;
}
 
.features13-fragment17 {
  display: contents;
}
 
.features13-text20 {
  display: inline-block;
}
 
.features13-fragment18 {
  display: contents;
}
 
.features13-text21 {
  display: inline-block;
}
 
.features13-fragment19 {
  display: contents;
}
 
.features13-text22 {
  display: inline-block;
}
 
.features13-fragment20 {
  display: contents;
}
 
.features13-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features13-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features13-feature1-image {
    height: 260px;
  }
  .features13-feature2-image {
    height: 260px;
  }
  .features13-feature3-image {
    height: 260px;
  }
}
 
@media(max-width: 767px) {
  .features13-column {
    width: 100%;
  }
  .features13-text11 {
    text-align: center;
  }
  .features13-row {
    flex-direction: column;
  }
  .features13-feature1-image {
    width: 100%;
  }
  .features13-feature2 {
    width: auto;
  }
  .features13-feature2-image {
    width: 100%;
  }
  .features13-feature3 {
    width: auto;
  }
  .features13-actions {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .features13-actions {
    width: 100%;
    flex-direction: column;
  }
  .features13-button1 {
    width: 100%;
  }
  .features13-button2 {
    width: 100%;
  }
}
