.gallery11-gallery3 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery11-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery11-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery11-text1 {
  text-align: center;
}
 
.gallery11-text2 {
  text-align: center;
}
 
.gallery11-content {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery11-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery11-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery11-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery11-fragment1 {
  display: contents;
}
 
.gallery11-text3 {
  display: inline-block;
}
 
.gallery11-fragment2 {
  display: contents;
}
 
.gallery11-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery11-content {
    align-items: center;
    flex-direction: column;
  }
}
