.hero92-header30 {
  gap: var(--dl-layout-space-twounits);
}
 
.hero92-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.hero92-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
}
 
.hero92-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
 
.hero92-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero92-text1 {
  text-align: center;
}
 
.hero92-text2 {
  text-align: center;
}
 
.hero92-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero92-text3 {
  text-align: center;
}
 
.hero92-text4 {
  text-align: center;
}
 
.hero92-fragment1 {
  display: contents;
}
 
.hero92-text5 {
  display: inline-block;
}
 
.hero92-fragment2 {
  display: contents;
}
 
.hero92-text6 {
  display: inline-block;
}
 
.hero92-fragment3 {
  display: contents;
}
 
.hero92-text7 {
  display: inline-block;
}
 
.hero92-fragment4 {
  display: contents;
}
 
.hero92-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .hero92-text1 {
    text-align: center;
  }
  .hero92-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .hero92-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero92-button1 {
    width: 100%;
  }
  .hero92-button2 {
    width: 100%;
  }
}
