.hero14-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.hero14-max-width {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
 
.hero14-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero14-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero14-text1 {
  text-align: left;
}
 
.hero14-text2 {
  text-align: left;
}
 
.hero14-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero14-video {
  flex: 1;
  width: 550px;
  height: auto;
}
 
.hero14-fragment1 {
  display: contents;
}
 
.hero14-text5 {
  display: inline-block;
}
 
.hero14-fragment2 {
  display: contents;
}
 
.hero14-text6 {
  display: inline-block;
}
 
.hero14-fragment3 {
  display: contents;
}
 
.hero14-text7 {
  display: inline-block;
}
 
.hero14-fragment4 {
  display: contents;
}
 
.hero14-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .hero14-max-width {
    flex-direction: column;
  }
  .hero14-text1 {
    text-align: center;
  }
  .hero14-text2 {
    text-align: center;
  }
  .hero14-actions {
    align-self: center;
    justify-content: flex-start;
  }
  .hero14-video {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .hero14-video {
    height: auto;
  }
}
 
@media(max-width: 479px) {
  .hero14-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero14-button1 {
    width: 100%;
  }
  .hero14-button2 {
    width: 100%;
  }
}
