.hero6-max-width {
  align-self: center;
}
 
.hero6-hero-image {
  width: 100%;
  height: auto;
  max-width: 550px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.hero6-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero6-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero6-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero6-fragment1 {
  display: contents;
}
 
.hero6-text5 {
  display: inline-block;
}
 
.hero6-fragment2 {
  display: contents;
}
 
.hero6-text6 {
  display: inline-block;
}
 
.hero6-fragment3 {
  display: contents;
}
 
.hero6-text7 {
  display: inline-block;
}
 
.hero6-fragment4 {
  display: contents;
}
 
.hero6-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .hero6-max-width {
    flex-direction: column;
  }
  .hero6-hero-image {
    width: 100%;
    max-width: 100%;
  }
}
 
@media(max-width: 479px) {
  .hero6-text1 {
    text-align: center;
  }
  .hero6-text2 {
    text-align: center;
  }
  .hero6-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero6-button1 {
    width: 100%;
  }
  .hero6-button2 {
    width: 100%;
  }
}
