.hero83-header26 {
  gap: var(--dl-layout-space-twounits);
}
 
.hero83-max-width {
  align-self: center;
}
 
.hero83-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero83-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero83-text1 {
  text-align: center;
}
 
.hero83-text2 {
  text-align: center;
}
 
.hero83-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero83-fragment1 {
  display: contents;
}
 
.hero83-text5 {
  display: inline-block;
}
 
.hero83-fragment2 {
  display: contents;
}
 
.hero83-text6 {
  display: inline-block;
}
 
.hero83-fragment3 {
  display: contents;
}
 
.hero83-text7 {
  display: inline-block;
}
 
.hero83-fragment4 {
  display: contents;
}
 
.hero83-text8 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero83-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero83-button1 {
    width: 100%;
  }
  .hero83-button2 {
    width: 100%;
  }
}
