.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.home-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.home-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-link31 {
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 800;
  padding-right: var(--dl-layout-space-threeunits);
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-link14 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-link21 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-link32 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-link33 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-link34 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-buttons1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-action110 {
  display: flex;
  border-style: solid;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: row;
}
 
.home-link10 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-logo7 {
  height: 3rem;
}
 
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.home-link15 {
  text-decoration: none;
}
 
.home-link35 {
  text-decoration: none;
}
 
.home-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-trigger1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-container11 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-icon14 {
  width: 24px;
  height: 24px;
}
 
.home-container12 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-icon16 {
  width: 24px;
  height: 24px;
}
 
.home-container13 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.home-menu-item1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-page1-image1 {
  width: 50px;
  height: 50px;
}
 
.home-content10 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-page11 {
  font-style: normal;
  font-weight: 600;
}
 
.home-menu-item2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-page2-image1 {
  width: 50px;
  height: 50px;
}
 
.home-content11 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-page21 {
  font-style: normal;
  font-weight: 600;
}
 
.home-menu-item3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-page3-image1 {
  width: 50px;
  height: 50px;
}
 
.home-content12 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-page31 {
  font-style: normal;
  font-weight: 600;
}
 
.home-menu-item4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-page4-image1 {
  width: 50px;
  height: 50px;
}
 
.home-content13 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-page41 {
  font-style: normal;
  font-weight: 600;
}
 
.home-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.home-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.home-container14 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-layout-space-oneandhalfunits);
  grid-gap: var(--dl-layout-space-halfunit);
  max-width: var(--dl-layout-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.home-menu-item5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-page1-image2 {
  width: 30px;
  height: 30px;
}
 
.home-content14 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-page12 {
  font-style: normal;
  font-weight: 600;
}
 
.home-menu-item6 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-page2-image2 {
  width: 30px;
  height: 30px;
}
 
.home-content15 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-page22 {
  font-style: normal;
  font-weight: 600;
}
 
.home-menu-item7 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-page3-image2 {
  width: 30px;
  height: 30px;
}
 
.home-content16 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-page32 {
  font-style: normal;
  font-weight: 600;
}
 
.home-menu-item8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-page4-image2 {
  width: 30px;
  height: 30px;
}
 
.home-content17 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-page42 {
  font-style: normal;
  font-weight: 600;
}
 
.home-container15 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-max-width10 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-column1 {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-content18 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading11 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-content19 {
  font-family: "Lato";
}
 
.home-actions1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.home-button10 {
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-action112 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-container17 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
 
.home-image11 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}
 
.home-container18 {
  width: 1091px;
  height: 327px;
}
 
.home-container19 {
  display: contents;
}
 
.home-about {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-image12 {
  flex: 1;
  width: 100%;
}
 
.home-column2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-content20 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading12 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-content110 {
  font-family: "Lato";
}
 
.home-actions2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.home-button11 {
  font-family: "Playfair Display";
  border-radius: var(--dl-layout-radius-radius4);
  letter-spacing: 2px;
}
 
.home-action113 {
  text-decoration: none;
}
 
.home-banner-cta {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.home-max-width11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container20 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-title {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text12 {
  text-align: center;
  font-family: "Lato";
}
 
.home-button12 {
  font-family: "Playfair Display";
  border-radius: var(--dl-layout-radius-radius4);
  letter-spacing: 2px;
}
 
.home-link26 {
  text-decoration: none;
}
 
.home-picture-carosel {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-content21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-row-container1 {
  width: 100%;
}
 
.home-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.home-row-container2 {
  width: 100%;
}
 
.home-placeholder-image22 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image23 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image24 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image25 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image26 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image27 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image28 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image29 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image30 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image31 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image32 {
  width: 400px;
  height: 400px;
}
 
.home-placeholder-image33 {
  width: 400px;
  height: 400px;
}
 
.home-container22 {
  display: contents;
}
 
.home-the-process-steps {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width12 {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container23 {
  align-items: start;
}
 
.home-section-header {
  gap: var(--dl-layout-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text13 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text14 {
  font-family: "Lato";
}
 
.home-actions3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.home-button13 {
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-text15 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-container24 {
  grid-area: span 1/span 1/span 1/span 1;
}
 
.home-container25 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-text16 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text17 {
  text-align: center;
  font-family: "Lato";
}
 
.home-text18 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-container26 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-text19 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text20 {
  text-align: center;
  font-family: "Lato";
}
 
.home-text21 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-container27 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-text22 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text23 {
  text-align: center;
  font-family: "Lato";
}
 
.home-text24 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-container28 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  border-radius: var(--dl-layout-radius-radius4);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-text25 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text26 {
  text-align: center;
  font-family: "Lato";
}
 
.home-text27 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-product-logos {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-max-width13 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text28 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-container29 {
  width: 100%;
}
 
.home-logo11 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo21 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo31 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo41 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo51 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo61 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo12 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo22 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo32 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo42 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo52 {
  width: 200px;
  object-fit: contain;
}
 
.home-logo62 {
  width: 200px;
  object-fit: contain;
}
 
.home-container33 {
  display: contents;
}
 
.home-feature1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.home-max-width14 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-over-title11 {
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Lato";
  font-weight: 600px;
  line-height: 150%;
  font-stretch: normal;
}
 
.home-title11 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-description13 {
  text-align: center;
  font-family: "Lato";
}
 
.home-button14 {
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-action114 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-over-title12 {
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Lato";
  font-weight: 600px;
  line-height: 150%;
  font-stretch: normal;
}
 
.home-title12 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-description14 {
  text-align: center;
  font-family: "Lato";
}
 
.home-button15 {
  font-family: "Playfair Display";
  border-radius: var(--dl-layout-radius-radius4);
  letter-spacing: 2px;
}
 
.home-action115 {
  text-align: center;
  text-decoration: none;
}
 
.home-over-title2 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Lato";
  line-height: 150%;
  font-stretch: normal;
}
 
.home-title2 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-description23 {
  text-align: center;
  font-family: "Lato";
}
 
.home-button16 {
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-action116 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-why-us {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-max-width15 {
  gap: var(--dl-layout-space-threeunits);
}
 
.home-placeholder-image34 {
  width: 601px;
  height: 427px;
}
 
.home-list1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.home-content26 {
  gap: var(--dl-layout-space-unit);
  align-items: flex-start;
}
 
.home-title31 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-description24 {
  font-family: "Lato";
}
 
.home-content27 {
  gap: var(--dl-layout-space-unit);
  align-items: flex-start;
}
 
.home-title32 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-description33 {
  font-family: "Lato";
}
 
.home-content28 {
  gap: var(--dl-layout-space-unit);
  align-items: flex-start;
}
 
.home-title13 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-description15 {
  font-family: "Lato";
}
 
.home-button17 {
  font-family: "Playfair Display";
  border-radius: var(--dl-layout-radius-radius4);
  letter-spacing: 2px;
}
 
.home-action117 {
  text-decoration: none;
}
 
.home-max-width16 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container35 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.home-text29 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text30 {
  text-align: center;
  font-family: "Lato";
}
 
.home-container37 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-image5 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.home-container38 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text31 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text32 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text33 {
  text-align: left;
  font-family: "Lato";
}
 
.home-container39 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-image6 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.home-container40 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text34 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text35 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text36 {
  text-align: left;
  font-family: "Lato";
}
 
.home-container41 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-image7 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.home-container42 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text37 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text38 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text39 {
  text-align: left;
  font-family: "Lato";
}
 
.home-container43 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-image8 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.home-container44 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text40 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text41 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text42 {
  text-align: left;
  font-family: "Lato";
}
 
.home-fa-qs {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-max-width17 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-section-title4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content29 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.home-text43 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text44 {
  text-align: center;
  font-family: "Lato";
}
 
.home-list2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.home-trigger2 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-faq1-question1 {
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: 2px;
}
 
.home-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon24 {
  width: 24px;
  height: 24px;
}
 
.home-icon26 {
  width: 24px;
  height: 24px;
}
 
.home-container48 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text45 {
  font-family: "Lato";
}
 
.home-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.home-trigger3 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-faq2-question1 {
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: 2px;
}
 
.home-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon28 {
  width: 24px;
  height: 24px;
}
 
.home-icon30 {
  width: 24px;
  height: 24px;
}
 
.home-container51 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text46 {
  font-family: "Lato";
}
 
.home-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.home-trigger4 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-faq2-question2 {
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: 2px;
}
 
.home-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon32 {
  width: 24px;
  height: 24px;
}
 
.home-icon34 {
  width: 24px;
  height: 24px;
}
 
.home-container54 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text47 {
  font-family: "Lato";
}
 
.home-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.home-trigger5 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-faq2-question3 {
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: 2px;
}
 
.home-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon36 {
  width: 24px;
  height: 24px;
}
 
.home-icon38 {
  width: 24px;
  height: 24px;
}
 
.home-container57 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text48 {
  font-family: "Lato";
}
 
.home-faq5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.home-trigger6 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-faq1-question2 {
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: 2px;
}
 
.home-icons-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon40 {
  width: 24px;
  height: 24px;
}
 
.home-icon42 {
  width: 24px;
  height: 24px;
}
 
.home-container60 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text49 {
  font-family: "Lato";
}
 
.home-content30 {
  align-self: center;
}
 
.home-content31 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-text50 {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text51 {
  text-align: center;
  font-family: "Lato";
}
 
.home-button18 {
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-action118 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  text-decoration: none;
}
 
.home-google-maps {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-max-width18 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-section-title5 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text52 {
  font-family: "Lato";
}
 
.home-content32 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-text53 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text54 {
  text-align: center;
  font-family: "Lato";
}
 
.home-iframe {
  width: 100%;
  height: auto;
  min-height: 720px;
  object-fit: cover;
}
 
.home-row1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-content33 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-content34 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.home-text55 {
  align-self: stretch;
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text56 {
  text-align: center;
  font-family: "Lato";
}
 
.home-email1 {
  text-align: center;
  font-family: "Lato";
}
 
.home-content35 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-content36 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.home-text57 {
  align-self: stretch;
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text58 {
  text-align: center;
  font-family: "Lato";
}
 
.home-phone1 {
  text-align: center;
  font-family: "Lato";
}
 
.home-content37 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-content38 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.home-text59 {
  align-self: stretch;
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text60 {
  text-align: center;
  font-family: "Lato";
}
 
.home-address1 {
  text-align: center;
  font-family: "Lato";
}
 
.home-contact-form-and-no {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-max-width19 {
  align-items: flex-start;
}
 
.home-section-title6 {
  gap: var(--dl-layout-space-unit);
  width: 40%;
  align-items: flex-start;
}
 
.home-logo8 {
  height: 3rem;
  object-fit: cover;
}
 
.home-text61 {
  font-family: "Lato";
}
 
.home-content39 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.home-text62 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text63 {
  font-family: "Lato";
}
 
.home-content40 {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.home-email2 {
  font-family: "Lato";
}
 
.home-row3 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.home-phone2 {
  font-family: "Lato";
}
 
.home-row4 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.home-address2 {
  font-family: "Lato";
}
 
.home-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 60%;
}
 
.home-container61 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text64 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text-input1 {
  font-family: "Lato";
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text65 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text-input2 {
  font-family: "Lato";
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-container62 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-input3 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text66 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text-input3 {
  font-family: "Lato";
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-input4 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text67 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-text-input4 {
  font-family: "Lato";
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-container63 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-input5 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text68 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-container64 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-input6 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text69 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-textarea {
  font-family: "Lato";
  border-radius: var(--dl-layout-radius-radius4);
}
 
.home-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
 
.home-text70 {
  font-family: "Lato";
}
 
.home-button19 {
  align-self: flex-start;
  font-family: "Playfair Display";
  border-radius: var(--dl-layout-radius-radius4);
  letter-spacing: 2px;
}
 
.home-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-brand-cecilio-1);
}
 
.home-max-width20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-content41 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-logo9 {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-image13 {
  height: 2rem;
}
 
.home-links3 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.home-link110 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-link27 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-link36 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-link4 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-link52 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.home-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-row5 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.home-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.home-content3 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-link11 {
  font-family: "Playfair Display";
}
 
.home-link12 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
.home-link13 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
 
@media(max-width: 991px) {
  .home-container16 {
    flex-direction: column;
  }
  .home-container17 {
    width: 100%;
    padding-top: 56.25%;
  }
  .home-about {
    flex-direction: column;
  }
  .home-content20 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-max-width12 {
    flex-direction: column;
  }
  .home-feature1 {
    flex-direction: column;
  }
  .home-max-width14 {
    flex-direction: column;
  }
  .home-content22 {
    align-items: center;
  }
  .home-content23 {
    align-items: center;
  }
  .home-why-us {
    flex-direction: column;
  }
  .home-max-width15 {
    flex-direction: column;
  }
  .home-title31 {
    text-align: center;
  }
  .home-description24 {
    text-align: left;
  }
  .home-content27 {
    align-items: flex-start;
  }
  .home-title32 {
    text-align: center;
  }
  .home-description33 {
    text-align: left;
  }
  .home-content28 {
    align-items: flex-start;
  }
  .home-title13 {
    text-align: center;
  }
  .home-description15 {
    text-align: left;
  }
  .home-actions7 {
    align-items: center;
  }
  .home-button17 {
    width: 100%;
  }
  .home-container35 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .home-container45 {
    flex-direction: column;
  }
  .home-max-width19 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-section-title6 {
    width: 100%;
  }
  .home-form {
    width: 100%;
  }
  .home-container61 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .home-input1 {
    width: 50%;
  }
  .home-input2 {
    width: 50%;
    flex-direction: column;
  }
  .home-container62 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .home-input3 {
    width: 50%;
  }
  .home-input4 {
    width: 50%;
  }
  .home-container63 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .home-input5 {
    gap: var(--dl-layout-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .home-container64 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .home-checkbox1 {
    align-self: flex-start;
  }
  .home-logo9 {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container13 {
    grid-gap: 0;
  }
  .home-link5-menu-list {
    display: none;
  }
  .home-heading11 {
    text-align: center;
  }
  .home-content19 {
    text-align: center;
  }
  .home-actions1 {
    width: 100%;
    justify-content: center;
  }
  .home-image11 {
    width: 100%;
  }
  .home-heading12 {
    text-align: center;
  }
  .home-content110 {
    text-align: center;
  }
  .home-actions2 {
    width: 100%;
    justify-content: center;
  }
  .home-content21 {
    width: 100%;
  }
  .home-section-header {
    position: static;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-actions3 {
    width: 100%;
    align-self: flex-start;
  }
  .home-container25 {
    width: 100%;
  }
  .home-container26 {
    width: 100%;
  }
  .home-container27 {
    width: 100%;
  }
  .home-container28 {
    width: 100%;
  }
  .home-product-logos {
    gap: var(--dl-layout-space-twounits);
  }
  .home-max-width13 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-actions4 {
    flex-wrap: wrap;
  }
  .home-actions5 {
    flex-wrap: wrap;
  }
  .home-actions6 {
    flex-wrap: wrap;
  }
  .home-container35 {
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
  .home-card4 {
    width: 100%;
  }
  .home-row1 {
    flex-direction: column;
  }
  .home-content41 {
    flex-direction: column;
  }
  .home-row5 {
    flex-direction: column;
  }
  .home-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .home-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
  .home-actions1 {
    flex-direction: column;
  }
  .home-button10 {
    width: 100%;
  }
  .home-container18 {
    width: 381px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .home-heading12 {
    text-align: center;
  }
  .home-content110 {
    text-align: center;
  }
  .home-actions2 {
    flex-direction: column;
  }
  .home-button11 {
    width: 100%;
  }
  .home-button13 {
    width: 100%;
  }
  .home-max-width14 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-button14 {
    width: 100%;
  }
  .home-button15 {
    width: 100%;
  }
  .home-button16 {
    width: 100%;
  }
  .home-list-item1 {
    gap: var(--dl-layout-space-unit);
  }
  .home-list-item2 {
    gap: var(--dl-layout-space-unit);
  }
  .home-actions7 {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-layout-space-unit);
  }
  .home-button17 {
    width: 100%;
  }
  .home-max-width17 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text63 {
    text-align: center;
  }
  .home-form {
    padding: var(--dl-layout-space-unit);
  }
  .home-container61 {
    align-items: stretch;
    flex-direction: column;
  }
  .home-input1 {
    width: 100%;
  }
  .home-input2 {
    width: 100%;
  }
  .home-container62 {
    align-items: stretch;
    flex-direction: column;
  }
  .home-input3 {
    width: 100%;
  }
  .home-input4 {
    width: 100%;
  }
  .home-max-width20 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-content41 {
    width: 100%;
  }
  .home-links3 {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
