.logos91-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos91-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos91-text1 {
  text-align: center;
}
 
.logos91-container2 {
  width: 100%;
}
 
.logos91-logo11 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo21 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo31 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo41 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo51 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo61 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo12 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo22 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo32 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo42 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo52 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-logo62 {
  width: 200px;
  object-fit: contain;
}
 
.logos91-container6 {
  display: contents;
}
 
.logos91-fragment {
  display: contents;
}
 
.logos91-text2 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .logos91-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos91-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}
