.logos12-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos12-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos12-text1 {
  text-align: center;
}
 
.logos12-logo1 {
  object-fit: contain;
}
 
.logos12-logo2 {
  object-fit: contain;
}
 
.logos12-logo3 {
  object-fit: contain;
}
 
.logos12-logo4 {
  object-fit: contain;
}
 
.logos12-logo5 {
  object-fit: contain;
}
 
.logos12-logo6 {
  object-fit: contain;
}
 
.logos12-fragment {
  display: contents;
}
 
.logos12-text2 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .logos12-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos12-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}
