.stats25-container1 {
  width: 100%;
  flex-direction: column;
}
 
.stats25-max-width {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
 
.stats25-container2 {
  max-width: 50%;
}
 
.stats25-container3 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
 
.stats25-container4 {
  width: 100%;
}
 
.stats25-container5 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats25-container6 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats25-container7 {
  width: 100%;
}
 
.stats25-container8 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats25-container9 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats25-fragment10 {
  display: contents;
}
 
.stats25-text21 {
  display: inline-block;
}
 
.stats25-fragment11 {
  display: contents;
}
 
.stats25-text22 {
  display: inline-block;
}
 
.stats25-fragment12 {
  display: contents;
}
 
.stats25-text23 {
  display: inline-block;
}
 
.stats25-fragment13 {
  display: contents;
}
 
.stats25-text24 {
  display: inline-block;
}
 
.stats25-fragment14 {
  display: contents;
}
 
.stats25-text25 {
  display: inline-block;
}
 
.stats25-fragment15 {
  display: contents;
}
 
.stats25-text26 {
  display: inline-block;
}
 
.stats25-fragment16 {
  display: contents;
}
 
.stats25-text27 {
  display: inline-block;
}
 
.stats25-fragment17 {
  display: contents;
}
 
.stats25-text28 {
  display: inline-block;
}
 
.stats25-fragment18 {
  display: contents;
}
 
.stats25-text29 {
  display: inline-block;
}
 
.stats25-fragment19 {
  display: contents;
}
 
.stats25-text30 {
  display: inline-block;
}
 
.stats25-fragment20 {
  display: contents;
}
 
.stats25-text31 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .stats25-max-width {
    gap: var(--dl-layout-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .stats25-container2 {
    width: 100%;
    max-width: 100%;
  }
  .stats25-container3 {
    align-self: flex-start;
    margin-left: 0px;
  }
}
 
@media(max-width: 479px) {
  .stats25-image {
    width: 100%;
  }
}
