.stats22-container1 {
  width: 100%;
  flex-direction: column;
}
 
.stats22-max-width {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
 
.stats22-container2 {
  max-width: 50%;
}
 
.stats22-container3 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
 
.stats22-container4 {
  width: 100%;
}
 
.stats22-container5 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats22-container6 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats22-container7 {
  width: 100%;
}
 
.stats22-container8 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats22-container9 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
 
.stats22-fragment10 {
  display: contents;
}
 
.stats22-text21 {
  display: inline-block;
}
 
.stats22-fragment11 {
  display: contents;
}
 
.stats22-text22 {
  display: inline-block;
}
 
.stats22-fragment12 {
  display: contents;
}
 
.stats22-text23 {
  display: inline-block;
}
 
.stats22-fragment13 {
  display: contents;
}
 
.stats22-text24 {
  display: inline-block;
}
 
.stats22-fragment14 {
  display: contents;
}
 
.stats22-text25 {
  display: inline-block;
}
 
.stats22-fragment15 {
  display: contents;
}
 
.stats22-text26 {
  display: inline-block;
}
 
.stats22-fragment16 {
  display: contents;
}
 
.stats22-text27 {
  display: inline-block;
}
 
.stats22-fragment17 {
  display: contents;
}
 
.stats22-text28 {
  display: inline-block;
}
 
.stats22-fragment18 {
  display: contents;
}
 
.stats22-text29 {
  display: inline-block;
}
 
.stats22-fragment19 {
  display: contents;
}
 
.stats22-text30 {
  display: inline-block;
}
 
.stats22-fragment20 {
  display: contents;
}
 
.stats22-text31 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .stats22-max-width {
    gap: var(--dl-layout-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .stats22-container2 {
    width: 100%;
    max-width: 100%;
  }
  .stats22-container3 {
    align-self: flex-start;
    margin-left: 0px;
  }
}
 
@media(max-width: 479px) {
  .stats22-image {
    width: 100%;
  }
}
